.container {
  display: flex;
  height: 100vh;
}

.illustration_container {
  padding-top: 30px;
}

.signin_container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.signin_container_items {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 20px;
  min-width: 50%;
}

.signin_container_items button {
  border: none;
  background-color: var(--primary-color);
  min-height: 39px;
  cursor: pointer;
}

.signin_container_items button:hover {
  background-color: var(--secondary-color);
}

.signin_container_items_input {
  border: 2px solid rgba(234, 228, 228, 0.729);
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
  transition: border 0.2s ease-in-out;
}

.err_input {
  border-color: rgba(232, 40, 40, 0.844) !important;
  color: rgba(232, 40, 40, 0.844);
}

.signin_container_items_input:focus {
  outline: none;
  border-color:rgba(193, 185, 185, 0.729);
}

.signup_label {
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.signup_label:hover {
  color: rgb(48, 48, 48)
}