.applications_container {
  display: flex;
  margin-top: 20px;
  column-gap: 20px;
  align-items: flex-start;
}

.application_builder_link_container {
  position: absolute;
  z-index: 0;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 50%;
}

.application_builder_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.export_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.297);
}

.export_popup {
  position: relative;
  max-width: 630px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.export_popup h2 {
  margin: 15px;
}

.export_popup p {
  margin-bottom: 20px;
  text-align: left;
}

.export_wrapper {
  position: relative;
  width: 100%;
}

.export_copy {
  position: absolute;
  cursor: pointer;
  right: 0;
}

.hide_export_button {
  position: absolute;
  right: -10px;
  top: -10px;
  color: white;
  background-color: rgba(217, 152, 152, 0.991);
  border-radius: 50%;
  cursor: pointer;
}

.export_text_area {
  margin: auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4a4a4a;
  padding: 5px 20px 5px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background: #f6f6f6;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease;
}

.application_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  position: relative;
  border-radius: 10px;
  background-color: rgba(233, 81, 81, 0.906);
  padding: 10px;
  width: 500px;
  min-height: 150px;
  box-shadow: 0 2px 8px rgba(76,76,76,0.15);
}

.new_application {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  min-height: 145px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: dashed 2px rgba(208, 206, 206, 0.722);
}

.button_new {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(1, 170, 1);
  border: none;
}

.filter {
  /* filter: blur(1px); */
}

.application_card_head {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: space-between;
}

.application_card_icon {
  position: absolute;
  left: 2%;
  top: 40px;
  z-index: -1;
}

.application_card_button {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #f2eae152;
  border: none;
}

.application_card_stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 50%;
  row-gap: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.stats_item_label {
  font-size: small;
  color: rgb(102, 98, 98);
}

.application_card_stats_item p {
  margin-bottom: 5px;
}

.stats_toogle {
  z-index: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}