.container {
  width: 600px;
  margin: auto;
  max-height: 100%;
  overflow: hidden;
}

.welcome_label {
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
}

.illustration_container {
  display: grid;
  z-index: 1;
  grid-template-columns: 1fr 1fr;
  transform: rotate(9deg);
}