.container {
  width: 600px;
  margin: auto;
  max-height: 100%;
  overflow: hidden;
}

.welcome_label {
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;
}

.illustration_container {
  position: relative;
  width: 600px;
  height: 1000px;
}

.illustration_container_items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: running_team 10s linear infinite;
}


@keyframes running_team {
  from {
    right: 0%;
  }

  to {
    right: -130%;
  }
}
@keyframes running_team_reverse {
  from {
    right: 130%;
  }

  to {
    right: 0%;
  }
}